{% extends "home.html" %}

{% block content%}
    <h5 class="card-title">Tabliczka mnożenia</h5>

    <div class="alert alert-primary" role="alert">
        Zostań mistrzem z klasą
    </div>


<form action="" style='font-size:50px'>
    <div class="container">
        <div class="row justify-content-center">

                <input style='border: none ;width:60px;' type="text" name="a1" value="{{a}}"> *
                <input style='border: none ;width:60px;' type="text" name="b1" value="{{b}}"> =
                <input style='border: none ;width:100px;' type="text" name="result" autofocus>
                {% if result %}

                    <input type="submit" >
                {% endif%}

        </div>
    </div>
</form>
<br>

<br>

<h1>{{succes}}</h1>
<h1> {{a1}} * {{b1}} = {{result}} </h1>
<br>
<h1>Dobrych odpowiedzi jest {{count}}</h1>

{% endblock%}