{% extends "home.html" %}

<!--    {% block extrastylesheet%}-->

<!--    {% endblock %}-->


{% block content%}
    <h5 class="card-title">Tabliczka mnożenia</h5>

    <div class="alert alert-primary" role="alert">
        Zostań mistrzem z klasą
    </div>
<body>

<form method="post" style='font-size:50px'>
<!--    {% csrf_token %}-->
    <div class="container">
        <div class="row justify-content-center">

                <input style='border: none ;width:60px;' type="text" name="a1" value="{{a}}"> *
                <input style='border: none ;width:60px;' type="text" name="b1" value="{{b}}"> =
                <input style='border: none ;width:100px;' type="text" name="result" autofocus>
                <input type="submit" value="save" >
<!--                {% if result == 1 %}-->


<!--                {% endif%}-->

        </div>
    </div>
</form>
<br>

<br>

<br>
{% if succes == 'Niestety do poprawki' %}
    <h1> {{a1}} * {{b1}} <b>nie równa się </b> {{result}} </h1>
    <br>
    <br>
    <h1 style="font-size:60px"> {{a1}} * {{b1}} <b> = </b> {{c1}} </h1>
    <br>
    <br>
{% else %}
    <h1><b>{{succes}}</b></h1>
    <br>
    <br>
    <h1 style="font-size:60px"> {{a1}} * {{b1}} <b> = </b> {{c1}} </h1>
<br>
<br>
{% endif %}
<h1>Dobrych odpowiedzi jest {{count.point__sum}}</h1>
</body>
{% endblock%}